body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

table {
    border: 1px solid #a45e4e;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th, td {
    border: 1px solid #c56238;
    padding: 2%;
}

th {
    background-color: #f9c1a7;
    color: #fff;
    font-size: 1.15em;
}

tr:nth-child(odd) {
    background-color: #fcd6c3;
}

.navbar {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
    background-color: #7b7979;
    color: white;
    padding: 10px 20px;
    width: 100%;
}


.navbar-brand {
    font-size: 1.5em; 
    font-weight: bold;
    text-decoration: none; 
    color: #fff; 
    padding: 0 15px;
}


.navbar-nav {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav-item {
    margin-left: 15px; 
}

.nav-link {
    text-decoration: none; 
    color: #ccc; 
    padding: 8px 10px; 
    display: block; 
    transition: color 0.3s, background-color 0.3s; 
}

.nav-link:hover, 
.nav-link.active {
    color: #fff; 
    background-color: #fb7c59; 
    border-radius: 4px; 
}


.navbar-toggler {
    display: none; 
}

#navbarText {
    display: flex !important;
}

